<!DOCTYPE html>
<html>
<head>
  <title>ActiveMonitor</title>
  <%= stylesheet_link_tag    "activemonitor/application", :media => "all" %>
  <%= javascript_include_tag "activemonitor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
