<div class="hero-unit">
  <h1>127 RPMs</h1>
  <p>Requests per minute are calculated using a rolling average over the last 100 requests.</p>
</div>
<div class="row">
  <span class="span4">
    <h2>Controller actions</h2>
    <p>Go to this section to see how well your server is handling each of its controller&rsquo;s action.</p>
    <p><a class="btn" href="<%= actions_path %>">View Details &raquo;</a></p>
  </span>
  <span class="span4">
    <h2>Database info</h2>
    <p>The database can be a huge bottleneck. Go here to check on overall database performance, or just look at the slow queries for some low hanging fruit.</p>
    <p><a class="btn" href="#">View Details &raquo;</a></p>
  </span>
  <span class="span4">
    <h2>Client performance</h2>
    <p>You&rsquo;re tracking how quickly the browser is loading the page. Click here to see what it might be getting hung up on.</p>
    <p><a class="btn" href="#">View Details &raquo;</a></p>
  </span>
</div>
